.navigation {
  background-color: #fff !important;
  height: 6rem;
}
.navigationRight {
  margin-left: 20rem !important;
}
.logoDot {
  width: 1rem;
  height: 1rem;
  border-radius: 5rem;
  border: solid 3px #ffffff;
  background-color: #ff2600;
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
}
.logoWrap {
  position: relative;
  /* background-color: blue; */
}
.navLogo {
  width: 119px !important;
  height: 56px !important;
  /* font-family: Poppins; */
  margin-top: -1rem;
  font-size: 40px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
