.section-1 {
  height: 44rem;
  background-color: $color-secondary;
  margin: 0;
}
.sec1-image-wrap {
  width: 100%;
  height: 40rem;
}
.sec1-image {
  // height: 100%;
  // width: 40rem;
  padding-left: 8rem;
  margin-top: -6rem;
}
.sec1-text-box {
  margin-left: 24rem;
}
.sec1-main-text {
  width: 521px;
  height: 71px;
  font-family: Poppins;
  font-size: 50px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  margin-top: 10rem;
}
.sec1-sub-text {
  width: 45.62rem;
  height: 5.25rem;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.sec1-shop-now {
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.sec1-indicator-wrap {
  margin-left: 9rem;
  margin-top: -13.2rem;
}
.shop-rec {
  background-color: #ff2600;
  opacity: 0.1;
  width: 6rem;
  height: 0.5rem;
  margin-top: -1.3rem;
}
.sec1-indicator {
  writing-mode: vertical-rl;
  width: 33px;
  height: 74px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  // text-orientation: mixed;
  // text-orientation: upright;
  // text-orientation: sideways-right;
  text-orientation: sideways;
  transform: rotate(180deg);
}
.sec2-card {
  height: 28rem;
}
.line {
  border-left: 1px solid #afafaf;
  height: 8rem;
  width: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.num {
  width: 33px;
  height: 22px;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  transform: rotate(180deg);
}
.product-link-container {
  margin-top: 9.5rem;
}
.product-link-wrap {
  list-style-type: none;
  width: 476px;
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #c7c7c7;
}
.product-link-wrap li {
  display: inline;
  margin-right: 1rem;
}
.all-link-wrap {
  display: flex;
  justify-content: flex-end;
  // background-color: blue;
}
.all-link {
  list-style-type: none;
  // width: 125px;
  height: 25px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.card-wrap {
  margin-top: 3.2rem;
}
.sec2-indicator-wrap {
  left: 9.5rem;
  position: absolute;
  margin-top: 6.1rem;
}
